* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorOscuro: #1d2222;
    --colorTarjetas: #110b09;
    --colorClaro: #ebebeb;
    --colorContenido: #929292;
    --colorHover: #a43820;
    --negro: #000000;
    --blanco: #fff;
    --naranja: #E44D26;
    --azul: #1572B6;
    --amarillo: #ffdd00;
    --rosado: #CF649A;
    --verde: #0ACF83;
    --morado: #7952B3;
    --fuenteTitulos: 'Poppins', sans-serif;
    --fuenteSubtitulos: 'Ubuntu', sans-serif;
    --fuenteContenido: 'Ubuntu', sans-serif;
    /* --fuenteContenido: 'Noto Sans JP', sans-serif; */
    --sizeTitulos: 45px;
    --sizeSubtitulos: 25px;
    --sizeContenido: 16px;
    --weightTitulos: 500;
    --weightSubtitulos: 400;
    --weightContenido: 300;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--colorOscuro);
}

/*---------------------------------------------------*/
/*-------------------SCROLL BAR----------------------*/
/*---------------------------------------------------*/

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: var(--colorContenido);
    border-radius: 7px;
}

/*---------------------------------------------------*/
/*---------------------HEADER------------------------*/
/*---------------------------------------------------*/

.nav {
    width: 100%;
    height: 90px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: .5s ease all;
}


.nav-active {
    background-color: var(--negro);
    height: 70px;
}


.nav h1 {
    font-family: var(--fuenteSubtitulos);
    font-weight: var(--weightSubtitulos);
    font-size: var(--sizeSubtitulos);
    color: var(--colorClaro);
}



/*---------------------------------------------------*/
/*---------------------INICIO------------------------*/
/*---------------------------------------------------*/

.inicio {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(../img/fondo_inicio.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100vh;
}


.contenedor-inicio .contenido img {
    width: 130px;
    margin-right: 30px;
}


.contenedor-inicio .contenido .contenedor-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenedor-inicio .contenido .contenedor-texto h1 {
    font-family: var(--fuenteTitulos);
    font-size: var(--sizeSubtitulos);
    font-weight: var(--weightTitulos);
    color: var(--colorClaro);
}


.contenedor-inicio .contenido .contenedor-texto p {
    font-family: var(--fuenteContenido);
    font-size: 12px;
    font-weight: var(--weightContenido);
    color: var(--colorContenido);
}

/*---------------------------------------------------*/
/*---------------------ACERCA------------------------*/
/*---------------------------------------------------*/

.acerca {
    width: 85%;
    height: auto;
    margin: 0 auto 0 auto;
    padding-top: 100px;
}

.contenedor-acerca {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-acerca .acerca-de-mi {
    width: 100%;
}

.contenedor-acerca .acerca-de-mi h1 {
    font-family: var(--fuenteSubtitulos);
    font-weight: var(--weightSubtitulos);
    font-size: var(--sizeSubtitulos);
    color: var(--colorClaro);
    margin-bottom: 20px;
    text-align: center;
}

.contenedor-acerca .acerca-de-mi p {
    font-family: var(--fuenteContenido);
    font-weight: var(--weightContenido);
    font-size: var(--sizeContenido);
    color: var(--colorContenido);
    text-align: justify;
    line-height: 25px;
}

.contenedor-acerca .hobbies {
    width: 100%;
    margin-top: 40px;
}

.contenedor-acerca .hobbies h1 {
    font-family: var(--fuenteSubtitulos);
    font-weight: var(--weightSubtitulos);
    font-size: var(--sizeSubtitulos);
    color: var(--colorClaro);
    margin-bottom: 20px;
    text-align: center;
}

.contenedor-acerca .hobbies p {
    font-family: var(--fuenteContenido);
    font-weight: var(--weightContenido);
    font-size: var(--sizeContenido);
    color: var(--colorContenido);
    text-align: justify;
    line-height: 25px;
}


/*---------------------------------------------------*/
/*--------------------PROYECTOS----------------------*/
/*---------------------------------------------------*/

.proyectos {
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.proyectos h1 {
    font-family: var(--fuenteSubtitulos);
    font-size: var(--sizeSubtitulos);
    font-weight: var(--weightSubtitulos);
    color: var(--colorClaro);
    text-align: center;
    margin-bottom: 20px;
}

.proyectos p {
    font-family: var(--fuenteContenido);
    font-size: var(--sizeContenido);
    font-weight: var(--weightContenido);
    color: var(--colorContenido);
    text-align: justify;
    margin: auto;
}

.proyectos .contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.proyectos .contenedor-proyectos .proyecto {
    margin: 55px;
    width: 280px;
    height: 450px;
    background-color: var(--colorTarjetas);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.proyectos .contenedor-proyectos .proyecto .contenedor-imagen {
    height: 50%;
    overflow: hidden;
}

.proyectos .contenedor-proyectos .proyecto .contenedor-imagen img {
    width: 400px;
    border-radius: 20px 20px 0 0;
    transition: .6s ease all;
}

.proyectos .contenedor-proyectos .proyecto h2 {
    font-family: var(--fuenteSubtitulos);
    font-size: var(--sizeSubtitulos);
    font-weight: var(--weightSubtitulos);
    color: var(--colorClaro);
    margin-top: 20px;
}

.proyectos .contenedor-proyectos .proyecto p {
    font-family: var(--fuenteContenido);
    font-size: var(--sizeContenido);
    font-weight: var(--weightContenido);
    color: var(--colorContenido);
    text-align: justify;
    padding: 20px;
    line-height: 23px;
}

.proyectos .contenedor-proyectos .proyecto .contenedor-texto {
    position: absolute;
    height: 450px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.829);
    opacity: 0;
    visibility: hidden;
    transition: .6s ease all;
}

.proyectos .contenedor-proyectos .proyecto:hover img {
    transform: scale(1.1);
}

.proyectos .contenedor-proyectos .proyecto:hover .contenedor-texto {
    opacity: 1;
    visibility: visible;
}

.proyectos .contenedor-proyectos .proyecto .contenedor-texto a {
    text-decoration: none;
    font-family: var(--fuenteContenido);
    font-size: var(--sizeContenido);
    font-weight: var(--weightContenido);
    color: var(--colorClaro);
    margin: 15px;
    border-bottom: 1px solid var(--colorClaro);
    transition: .3s ease all;
}


.proyectos .contenedor-proyectos .proyecto .contenedor-texto a:hover {
    color: var(--colorHover);
}


/*---------------------------------------------------*/
/*---------------------SKILLS------------------------*/
/*---------------------------------------------------*/

.skills {
    padding-top: 100px;
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}


.skills h1 {
    font-family: var(--fuenteSubtitulos);
    font-size: var(--sizeSubtitulos);
    font-weight: var(--weightSubtitulos);
    color: var(--colorClaro);
    text-align: center;
    margin-bottom: 20px;
}

.skills p {
    font-family: var(--fuenteContenido);
    font-size: var(--sizeContenido);
    font-weight: var(--weightContenido);
    color: var(--colorContenido);
    text-align: center;
    margin: 0 auto 40px auto;
}

.contenedor-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
}

.contenedor-skills .skill {
    width: 33%;
    height: 200px;
}

.contenedor-skills .skill .contenedor-titulo {
    display: flex;
    align-items: flex-end;
}

.contenedor-skills .skill .contenedor-titulo h2 {
    font-family: var(--fuenteSubtitulos);
    font-size: var(--sizeSubtitulos);
    font-weight: var(--weightSubtitulos);
    color: var(--colorContenido);
    margin: 0 0 0 10px;
}

.contenedor-skills .skill .contenedor-titulo .img-js {
    width: 68px;
    margin-top: 10px;
}

.contenedor-skills .skill .contenedor-titulo .img-figma {
    width: 36px;
}

.contenedor-skills .skill .contenedor-titulo .img-boostrap {
    width: 67px;
}

/*---------------------BARRA HTML------------------------*/

.contenedor-skills .skill .barra-afuera-html {
    width: 400px;
    height: 6px;
    display: inline-block;
    background-color: var(--colorClaro);
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
}

.contenedor-skills .skill .barra-afuera-html::before {
    content: "";
    position: absolute;
    background-color: var(--naranja);
    width: 80%;
    height: 4px;
    margin: 1px 0 0 1px;
    border-radius: 20px;
}

/*---------------------BARRA CSS------------------------*/

.contenedor-skills .skill .barra-afuera-css {
    width: 400px;
    height: 6px;
    display: inline-block;
    background-color: var(--colorClaro);
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
}

.contenedor-skills .skill .barra-afuera-css::before {
    content: "";
    position: absolute;
    background-color: var(--azul);
    width: 60%;
    height: 4px;
    margin: 1px 0 0 1px;
    border-radius: 20px;
}

/*---------------------BARRA JS------------------------*/

.contenedor-skills .skill .barra-afuera-js {
    width: 400px;
    height: 6px;
    display: inline-block;
    background-color: var(--colorClaro);
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
}

.contenedor-skills .skill .barra-afuera-js::before {
    content: "";
    position: absolute;
    background-color: var(--amarillo);
    width: 30%;
    height: 4px;
    margin: 1px 0 0 1px;
    border-radius: 20px;
}

/*---------------------BARRA SASS------------------------*/

.contenedor-skills .skill .barra-afuera-sass {
    width: 400px;
    height: 6px;
    display: inline-block;
    background-color: var(--colorClaro);
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
}

.contenedor-skills .skill .barra-afuera-sass::before {
    content: "";
    position: absolute;
    background-color: var(--rosado);
    width: 10%;
    height: 4px;
    margin: 1px 0 0 1px;
    border-radius: 20px;
}

/*---------------------BARRA FIGMA------------------------*/

.contenedor-skills .skill .barra-afuera-figma {
    width: 400px;
    height: 6px;
    display: inline-block;
    background-color: var(--colorClaro);
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
}

.contenedor-skills .skill .barra-afuera-figma::before {
    content: "";
    position: absolute;
    background-color: var(--verde);
    width: 90%;
    height: 4px;
    margin: 1px 0 0 1px;
    border-radius: 20px;
}

/*---------------------BARRA BOOSTRAP------------------------*/

.contenedor-skills .skill .barra-afuera-boostrap {
    width: 400px;
    height: 6px;
    display: inline-block;
    background-color: var(--colorClaro);
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
}

.contenedor-skills .skill .barra-afuera-boostrap::before {
    content: "";
    position: absolute;
    background-color: var(--morado);
    width: 40%;
    height: 4px;
    margin: 1px 0 0 1px;
    border-radius: 20px;
}


/*---------------------------------------------------*/
/*---------------------FOOTER------------------------*/
/*---------------------------------------------------*/

footer {
    background-color: var(--negro);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h1 {
    font-family: var(--fuenteContenido);
    font-size: var(--sizeContenido);
    font-weight: var(--weightContenido);
    color: var(--colorClaro);
}
































@media screen and (min-width: 1040px) {

    /*---------------------------------------------------*/
    /*---------------------HEADER------------------------*/
    /*---------------------------------------------------*/

    .nav {
        padding: 0 80px;
    }

    .nav h1 {
        color: var(--colorClaro);
    }

    .nav .ul {
        display: flex;
        list-style: none;
        width: 30%;
        justify-content: space-between;
    }

    .nav .ul a {
        letter-spacing: 1px;
        color: var(--colorClaro);
        text-decoration: none;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: var(--weightSubtitulos);
        font-size: 16px;
        color: var(--colorClaro);
    }

    .nav .ul a li {
        transition: .5s ease all;
    }

    .nav .ul a li:hover {
        color: var(--colorHover);
    }

    .burger {
        display: none;
    }

    /*---------------------------------------------------*/
    /*---------------------INICIO------------------------*/
    /*---------------------------------------------------*/

    .contenedor-inicio .contenido img {
        width: 220px;
        margin-right: 30px;
    }

    .contenedor-inicio .contenido .contenedor-texto h1 {
        font-size: var(--sizeTitulos);
    }

    .contenedor-inicio .contenido .contenedor-texto p {
        font-size: var(--sizeContenido);
    }


    /*---------------------------------------------------*/
    /*---------------------ACERCA------------------------*/
    /*---------------------------------------------------*/

    .contenedor-acerca .acerca-de-mi {
        width: 45%;
        margin-right: 100px;
    }

    .contenedor-acerca .hobbies {
        width: 45%;
        margin-top: 0;
    }

    /*---------------------------------------------------*/
    /*---------------------SKILLS------------------------*/
    /*---------------------------------------------------*/

    .contenedor-skills {
        flex-direction: row;
    }


}

/* Fin media querie min-width: 1040px */

@media screen and (max-width: 1400px) and (min-width: 1040px) {
    .nav .ul {
        width: 50%;
    }

    .contenedor-acerca .acerca-de-mi {
        width: 45%;
        margin-right: 40px;
    }

    .contenedor-acerca .hobbies {
        width: 45%;
    }



    .contenedor-skills .skill {
        width: 40%;
        height: 200px;
        margin: auto;
    }

}

/* Fin media querie max-width: 1400px and min-width: 1040px */


@media screen and (max-width: 1040px) {

    .ul {
        position: absolute;
        right: 0px;
        width: 100%;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .ul a {
        opacity: 0;
    }

    .nav .ul a {
        letter-spacing: 1px;
        color: var(--colorClaro);
        text-decoration: none;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: var(--weightSubtitulos);
        font-size: 25px;
        color: var(--colorClaro);
        list-style: none;
        margin: 40px;
    }

    .nav .ul a li {
        transition: .5s ease all;
    }

    .nav .ul a li:hover {
        color: var(--colorHover);
    }


    .burger div {
        width: 25px;
        height: 3px;
        background-color: var(--colorClaro);
        margin: 5px;
        transition: all 0.3s ease;
    }


    .burger {
        display: block;
        z-index: 10;
        cursor: pointer;
    }

    .ul-transform {
        transform: translateX(0%);
    }


    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .toggle .linea1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .linea2 {
        opacity: 0;
    }

    .toggle .linea3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

}

/* Fin media querie max-width: 1040px */