* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(to right, rgb(12, 128, 103), rgb(88, 10, 10));
    color: white;
}


.general h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 150px;
    text-align: center;
    animation: brincar 2s infinite ease;
}

@keyframes brincar {

    0%{
        transform: translateY(1);
    }

    30%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(1);
    }
}

.general input {
    display: block;
}

.calculadora {
    margin: 70px auto;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    background-color: rgba(22, 113, 165, 0.644);
    max-width: 400px;
    min-width: 100px;
    height: 500px;
    padding: 40px;
}

.calculadora .input input{
    width: 100%;
    text-align: right;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
    color: black;
    outline: none;
}

.calculadora button {
    color: black;
    outline: none;
    width: 24%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.calculadora button:active {
    transform: scale(0.95);
}

