:root {
    --fondo: #A93226;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}

header {
    padding: 30px 0;
}


.contenedor {
    width: 90%;
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
    background-color: var(--fondo);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.titulo-logo {
    color: white;
    margin: 0 0 0 100px
}

li a {
    color: white;
}

li {
    display: inline-block;
    font-size: 20px;
    margin-right: 80px;
    border-radius: 16px;
    padding: 10px 30px;
    transition: 0.2s;
}

li:hover {
    background-color: black;
    transform: scale(1.1);
}



.biografia {
    position: relative;
    line-height: 150%;
    text-align: justify;
    font-size: 19px;
    margin-left: 560px;
    margin-right: 110px;
    margin-top: 60px;
}

.tarjeta {
    border: 3px solid black;
    position: absolute;
    border-radius: 30px;
    box-shadow: 1px 1px 1.5px 0px black;
    padding: 60px 0px;
    margin-left: 60px;
    margin-right: 1410px;
    transition: 0.3s ;
}

.tarjeta:hover {
    box-shadow: 10px 10px 15px 0px black;
}

.imagen_esteban {
    position: absolute;
    width: 200px;
    margin-top: 20px;
    margin-left: 105px;
    margin-right: 120px;
}

.parte_arriba {
    padding-top: 250px;
}

.nombre{
    font-size: 26px;
    margin-left: 25px;
}

.grado {
    font-size: 16px;
    padding-left: 110px;
}

.pasatiempo1 {
    display: inline-block;
    width: 400px;
    margin-top: 50px;
    margin-left: 200px;
}

.imagen_musica {
    width: 210px;
    margin-left: 110px;
}

.texto_musica {
    text-align: justify;
}

.pasatiempo2 {
    display: inline-block;
    width: 350px;
    margin-left: 200px;
}

.imagen_tecno {
    width: 200px;
    margin-left: 70px;
}

.texto_tecno {
    text-align: justify;
}

.pasatiempo3 {
    display: inline-block;
    width: 270px;
    margin-left: 200px;
}

.imagen_karate {
    width: 200px;
    margin-left: 45px;
}

.texto_karate {
    text-align: justify;
}

.footer {
    margin-top: 100px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #A93226  ;
}

.footer a {
    text-decoration: none;
}

.texto_footer {
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height : 20px;
    margin-right: 1690px;
}

.redes_sociales {
    float: right;
}

.facebook {
    width: 50px;
    margin-right: 30px;
}

.instagram {
    width: 50px;
    margin-right: 30px;
}

.twitter {
    width: 50px;
    margin-right: 30px;
}

.Copyright {
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 20px 0px;
}

