:root {
    --fondo: #A93226;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}

header {
    padding: 30px 0;
}


.contenedor {
    width: 90%;
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
    background-color: var(--fondo);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-logo {
    color: white;
    margin: 0 0 0 100px
}

li a {
    color: white;
}

li {
    display: inline-block;
    font-size: 20px;
    margin-right: 80px;
    border-radius: 16px;
    padding: 10px 30px;
    transition: 0.2s;
}

li:hover {
    background-color: black;
    transform: scale(1.1);
}


.nombre_tienda {
    text-align: center;
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}

.subtitulo {
    font-size: 40px;
    margin-left: 50px;
}

.sub-subtitulo {
    font-size: 32px;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: 500;
}

.contenedores__productos {
    margin: 30px 50px;
    display: inline-block;
}

/*PRIMERA TARJETA*/

.contenedor1 {
    margin: 50px 0px 100px 200px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.contenedor1 figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor1__img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor1__texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(160, 20, 2, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor1 figure:hover > .contenedor1__texto {
    opacity: 1;
    visibility: visible;
}

.contenedor1 figure:hover > .contenedor1__texto h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor1__texto h3 {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor1__texto p {
    color: white;
    text-align: justify;
    font-size: 16px;
    line-height: 1;
    margin: 0px 20px 0px 20px;
}

.contenedor1 figure:hover > img {
    transform: scale(1.3);
}

/*SEGUNDA TARJETA*/

.contenedor2 {
    margin-left: 150px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.contenedor2 figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor2__img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor2__texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 110, 160, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor2 figure:hover > .contenedor2__texto {
    opacity: 1;
    visibility: visible;
}

.contenedor2 figure:hover > .contenedor2__texto h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor2__texto h3 {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor2__texto p {
    color: white;
    text-align: justify;
    font-size: 16px;
    line-height: 1;
    margin: 0px 20px 0px 20px;
}

.contenedor2 figure:hover > img {
    transform: scale(1.3);
}

/*TERCERA TARJETA*/

.contenedor3 {
    margin-left: 150px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.contenedor3 figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor3__img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor3__texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(160, 136, 0, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor3 figure:hover > .contenedor3__texto {
    opacity: 1;
    visibility: visible;
}

.contenedor3 figure:hover > .contenedor3__texto h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor3__texto h3 {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor3__texto p {
    color: white;
    text-align: justify;
    font-size: 16px;
    line-height: 1;
    margin: 0px 20px 0px 20px;
}

.contenedor3 figure:hover > img {
    transform: scale(1.3);
}


/*CUARTA TARJETA*/

.contenedor4 {
    margin-left: 200px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.contenedor4 figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor4__img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor4__texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(160, 91, 0, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor4 figure:hover > .contenedor4__texto {
    opacity: 1;
    visibility: visible;
}

.contenedor4 figure:hover > .contenedor4__texto h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor4__texto h3 {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor4__texto p {
    color: white;
    text-align: justify;
    font-size: 16px;
    line-height: 1;
    margin: 0px 20px 0px 20px;
}

.contenedor4 figure:hover > img {
    transform: scale(1.3);
}



/*QUINTA TARJETA*/

.contenedor5 {
    margin-left: 150px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.contenedor5 figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor5__img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor5__texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(131, 131, 131, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor5 figure:hover > .contenedor5__texto {
    opacity: 1;
    visibility: visible;
}

.contenedor5 figure:hover > .contenedor5__texto h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor5__texto h3 {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor5__texto p {
    color: white;
    text-align: justify;
    font-size: 16px;
    line-height: 1;
    margin: 0px 20px 0px 20px;
}

.contenedor5 figure:hover > img {
    transform: scale(1.3);
}


/*SEXTA TARJETA*/

.contenedor6 {
    margin-left: 150px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.contenedor6 figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.contenedor6__img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor6__texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 177, 12, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor6 figure:hover > .contenedor6__texto {
    opacity: 1;
    visibility: visible;
}

.contenedor6 figure:hover > .contenedor6__texto h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor6__texto h3 {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor6__texto p {
    color: white;
    text-align: justify;
    font-size: 16px;
    line-height: 1;
    margin: 0px 20px 0px 20px;
}

.contenedor6 figure:hover > img {
    transform: scale(1.3);
}












































.footer {
    margin-top: 150px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #A93226 ;
}

.footer a {
    text-decoration: none;
}

.texto_footer {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    line-height : 20px;
    margin-right: 1690px;
}

.redes_sociales {
    float: right;
}

.facebook {
    width: 50px;
    margin-right: 30px;
}

.instagram {
    width: 50px;
    margin-right: 30px;
}

.twitter {
    width: 50px;
    margin-right: 30px;
}

.Copyright {
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0px;
    margin: 0px;
}
